/*-------Latest English--------*/

.track-list-container{
    width: 100%;
}

.track-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.track{
    display: inline-block;
    height: 175px;
    width: 125px;
    margin: 10px;
}

.track img{
    width: 125px;
    height: 125px;
    object-fit: contain;
}