/* html and body section css */
body{
  background-color: #0c1027;
  margin:0px;
  padding:0px;  
  color:white;
}

div{
    padding:0px;
}

/*-------button cursor pointer-------*/

button{
    cursor: pointer;
}

/*-----Main and aside container-------*/

#main-and-aside-container{
    margin: 0 8%;
}

main, aside{
    background-color: #0c1027;
    display:inline-block;
    height: auto;
    padding-bottom: 80px;
}

/*----main section----*/

main{
    width: 78%;
}

/*----section-----*/

section{
    padding-bottom: 50px;
}

/*----Common css rules----*/

.width-eighty-percent{
    width: 80%;
}

.width-fifty-percent{
    width: 50%;
}

/*----Removing outline------*/

input, button{
    outline: none;
}

/*-----common font size classes used------*/ 
.font-size-thirty{
    font-size: 30px;
    margin:0px 10px;
}

/*----Common cursor used----*/
.cursor-pointer{
    cursor: pointer;
}