/* html and body section css */

body{
  background-color: #0c1027;
  margin:0px;
  padding:0px;  
  color:white;
}

div{
    padding:0px;
}

/*--------- || body header ------------*/

.body__header{
    display:flex;
    align-items: center;  
    justify-content: space-between;
    height:80px;
}

/*----Website Logo -----*/

.website__logo__container{
    width:150px;
    height:80px;
}

.image__contain{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/*--search bar, notification bell and user image container--*/

.search__bar__notification__bell__user__image__container{
    width:45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification__bell__user__image__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:30%;
}

.user__image{
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    margin: 10px;
    border: 1px solid white;
}

.user__image:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

@media (max-width:800px){
    .search-bar{
        display: none;
    }
    .favourites{
        display: none;
    }
    .search__bar__notification__bell__user__image__container{
        width: 10%;
    }
}

/*-----[Main Section and Aside Section]-------*/

.main__section__aside__section__container{
    margin: 0 8%;
}

.main, .aside{
    display:inline-block;
    height: auto;
    padding-bottom: 80px;
}

.main{
    width: 78%;
    overflow-y: scroll;
    height: 70vh;
}

.aside{
    width: 20%;    
    float:right;
}

@media (max-width:1200px){
   .main__section__aside__section__container{
        margin:0;
    } 
}


@media (max-width:800px){
   .main__section__aside__section__container{
        margin:0;
    } 

    .main{
        width: 100%;
        height: auto;
    }

    .aside{
        width: 80%;    
        float:left;
    }
}


/*-------- || section [For All Section]------*/

section{
    width: 100%;
    padding-bottom: 50px;
}

.section__header{
    letter-spacing: 0.2rem;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

/*------- || main section------*/

.horizontal__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.list__item{
    padding: 0px;
    margin: 0px;
}

/*------Section [Latest release section]------*/

.latest_release__track__container{
    width: 380px;
    height: 100px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.lates__release__track__logo__container{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    margin: 10px;
    position: relative;
}

.latest__track__logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shadow__and__play__icon__container{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    cursor: pointer;
}

.shadow__and__play__icon__container:hover{
    opacity: 1;
}


.accordian__and__track__duration__container{
    position: absolute;
    right: 0px;
}


/*------Section [Popular Artist section]------*/

.artist a:active, .artist a:hover, .artist a:visited, .artist a:link{
    color: white;
}

.artist__logo__container{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.artist__logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*------Section [Station list]------*/

.station__list__container{
    position: relative;
    height: 150px;
    overflow: hidden;
}

.station__list{
    position: absolute;
    top: 0px;
    left: 150px;
    height: 150px;
    width: 82%;
    align-items: center;
    overflow: hidden;
    background-color: #101642;
}


.main__station__logo__container{
    height: 150px;
    width: 150px;
    position: absolute;
    top:0px;
}

.main__station__logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.station{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 15px 0px 15px 15px;
    overflow: hidden;
    position: relative;
}

.station__logo{
    width: 100%;
    height: 100%
    border-radius: 50%;
    object-fit: cover;
}

.station .shadow__and__play__icon__container{
    opacity: 1;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.05rem;
    background-color: rgba(255, 255, 255, 0.3);
}

/*-------Section [Occasion]------*/

.occasion{
    height: 150px;
    /*width: 300px;*/
    width: 95%;
    margin: 10px 12px;
    overflow: hidden;
}

.occasion__logo__container{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.occasion__logo__container:hover{
    transform: scale(1.1);
}

.occasion .shadow__and__play__icon__container{
    opacity: 1;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.05rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.occasion__logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*------Latest English and Hindi Section-----*/
.latest__track__logo__container{
    height: 130px;
    width: 130px;
    position: relative;
}

.track__logo__130X130{
    width: 100%;
    height: 100%;
}

.track{
    margin: 5px;
}

.track .track__detail{
    margin: 5px 10px;
    width: 100%;
}

/*------ || aside section------*/

.aside__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.queue__container{
    overflow-y: scroll;
    height: 70vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.queue{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.queue__element{
    width: 100%;
}

.queue__track{
    width: 100%;
    height: 60px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.queue__track .track__detail{
    width: 50%;
    margin: 10px;
}

.queue__track .track__number{
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    color: #93a8b3;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px;
    width: 15px;
    min-width: 15px;
}

.queue__track__logo__conatiner{
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.track__logo{
    height: 100%;
    width: 100%;
}


/*---Track detail can be used [again]--*/

.track__detail{
    display: block;
}

.track__name{
    display: block;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.track__singer, .track__duration, .track__date, .track__genre{
    display: block;
    font-family: sans-serif;
    font-size: 12px;
    color: #93a8b3;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}


/*-----Footer Section------*/
footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    padding: 0 8%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
    box-sizing: border-box;
    z-index: 10;
}

@media (max-width:1200px){
    footer{
        padding: 0px;
    }
}

/*----Music player detail box------*/
.track__detail__container{
    display: flex;
    align-items: center;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.track__logo__container{
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin: 10px;
}

.track__logo__container img{
    width: 100%;
    height: 100%;
}

.track__detail__container .track__detail{
    width: 55%;
}

.like__dislike__icon__container{
    height: 50%;
    display: flex;
    align-items: flex-start;
}

.like__dislike__icon__container button{
    color: #b3b3b3;
}

@media (max-width:800px){
    .track__detail__container{
        width: auto;
    }
    .track__detail__container .track__detail, .like__dislike__icon__container{
        display: none;
    }
}


/*--Audio Player Container--*/

.audio__player__container{
    width: 50%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*---Audio control buttons-----*/

.music__player__control__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    overflow: hidden;
    width: 60%;
}

.music__player__control__container button{
    display: inline-block;
    background-color: transparent;
    color: #b3b3b3;
    border: 0px solid #000000;
    font-size: 1rem;
    margin: 10px 10px 0px 10px;
}

@media (max-width:800px){
    .audio__player__container{
        width: 85%;
    }
    .music__player__control__container{
        width: 80%;
    }
}



.slider__container span{
        font-size: 10px;
        letter-spacing: 0.05rem;
        color: #b3b3b3;
}


/*---Slider----*/

.slider__container{
    height: 25%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    height: 8px;
    background-image: linear-gradient(90deg, #3ae98f 50%, #404040 50%);
    border-radius: 4px;
    -webkit-appearance:none;
}

.slider:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.slider::-moz-range-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.silder::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

.slider::-moz-range-thumb:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

.silder::-webkit-slider-runnable-track:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

/*-------File Manager and Playlist-------*/

.playlist__file__manager__icons__container{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.playlist__file__manager__icons__container button{
    background-color: transparent;
    color: #b3b3b3;
    border: 0px solid transparent;
}

@media (max-width:800px){
    .playlist__file__manager__icons__container{
        display: none;
    }
}


/*--Width used for footer sliders--*/

.width-eighty-percent{
    width: 80%;
}

.width-fifty-percent{
    width: 50%;
}

/*-----common font size classes used------*/ 

.font-size-thirty{
    font-size: 30px;
    margin:0px 10px;
}



/*

-------------------------Css below are for other pages----------------------------------------

*/
/*-------|| Artist Card --------*/

.card{
    width: 100%;
    height: 300px;
    background-color: #141b41;
    display: flex;
    overflow: hidden;
    /*flex-wrap: wrap;*/
}

@media (max-width:800px){
    .card{
    width: 100%;
    height: auto;
    background-color: #141b41;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}


.card__logo__container{
    width: 300px;
    height: 300px;
    position: relative;
}

.card__logo__container .shadow__and__play__icon__container{
    opacity: 1;
    background: radial-gradient(transparent, #141b41);
}

.logo{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.card__artist__detail__container{
    width: 100%; /*----Since display is flex---*/
    display: flex;
    justify-content: space-between;
}

.card__artist__name{
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: 0.1rem;
    margin: 10px;
}

.card__artist__locality, .follower__container{
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 0.05rem;
    color: #b1b3c0;
    margin: 10px;
}


.card__artist__description__container{
    width: 100%;
    height: 30%;
    overflow: hidden;
}

.card__artist__description{
    text-align: justify;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 14px;
    color: #b1b3c0;
    margin: 10px;
}

.playall__Follow__button__container{
    display: flex;
}

.playall__button{
    background: linear-gradient(90deg, #3b25b1, #c248df);
    width: 150px;
    height: 35px;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.number__of__tracks__and__number__of__albums__container{
    margin: 10px;
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
}

.follow__button{
    width: 150px;
    height: 35px;
    margin: 10px;
}


/*----------List in main section----------*/

.track__list{
    width: 100%;
}

.track__list .queue__element{
    height: 60px;
    margin: 10px 0px;
}

.track__card__container{
    width: 100%;
    height: 100%;
    background-color: #1a1e33;
    display: flex;
    align-items: center;
    position: relative;
}

.track__card__number{
    margin: 10px;
    color: #91a5b1;
}

.track__card__logo__container{
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
}

.track__card__logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.track__card__detail__container{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track__card__detail__container .track__duration{
    width: 30px;
}

.track__card__detail__container .track__detail{
    width: 60%;
}

.track__card__icon__container{
    position: absolute;
    right: 0px;
    margin: 0px 10px;
}

.track__card__icon__container button{
    color: #91a5b1;
}


/*----Aside section vertical list------*/

.similar__artist__list__container, .recently__played__list__container{
    width: 100%;
    padding: 20px 0px;
}

.similar__artist__list__container .queue__container, .recently__played__list__container .queue__container{
    height: 28vh;
}

.aside__section__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.aside__section__header .heading{
    font-family: sans-serif;
    font-size: 25px;
}

.view__all{
    display: flex;
    align-items: flex-end;
}


.similar__artist__container{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    height: 80px;
    position: relative;
}

.similar__artist__logo__container{
    margin: 10px;
    width: 40px;
    height: 40px;
    position: relative;
}

.similar__artist__logo{
    width: 100%;
    height: 100%;
    min-width: 40px;
}

.similar__artist__container .track__detail{
    width: 55%;
}

.similar__artist__accordian__and__track__duration__container{
    position: absolute;
    right: 0px;
}

/*-----Recently played container----*/

.recently__played__container{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    height: 80px;
    position: relative;
}

.recently__played__track__number{
    width: 15px;
    color: #93a8b3;
    font-size: 12px;
    font-family: sans-serif;
}

.recently__played__logo__container{
    margin: 10px;
    width: 40px;
    height: 40px;
    position: relative;
}

.recently__played__logo{
    width: 100%;
    height: 100%;
    min-width: 40px;
}

.recently__played__container .track__detail{
    width: 55%;
}

.recently__played__icon__container{
    position: absolute;
    right: 0px;
}

.recently__played__icon__container button{
    color: #91a5b1;
}





/*--------Common Font Family used----------*/
.font-sans-serif{
    font-family: sans-serif;
}


/*------------Common Letter Spacing used--------------*/
.letter-spacing-zero-two-rem{
    letter-spacing: 0.2rem;
}

.letter-spacing-zero-one-rem{
    letter-spacing: 0.1rem;
}
/*---------White Space Wrap-----------*/
.white-space-nowrap{
    white-space: nowrap;
}
/*------------------*/
.color-grey{
    color: grey;
}

.artist__name{
    display: block;
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.05rem;
}
