/*------Occasion List--------*/
.occasion-list{
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.occasion{
    height: 150px;
    width: 300px;
    margin: 10px 12px;
    display: inline-block;
}

.occasion img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}