/* html and body section css */
body{
  background-color: #0c1027;
  margin:0px;
  padding:0px;  
  color:white;
}
div{
    padding:0px;
}
.border{
    border: 1px solid white;
}
/*-------button cursor pointer-------*/
button{
    cursor: pointer;
}
/*----Body Header----*/

#main-header{
    display:flex;
    align-items: center;  
    justify-content: space-between;
    height:80px; /* comment this to reach version 1 of main icon*/
}

header div{
    display:inline-block;
}

/*----Main Logo and Music player Name-----*/
/*Version 1*/
/*#main-logo-container{
    width:15%;
    height:auto;
    display:flex;
    align-items: center;
}

#main-logo-container div{
    width: 30%;
    margin: 2%;
}

#main-logo-container img{
    object-fit: contain;
    width:100%;
    border-radius:50%;
    box-shadow: 2px 2px 2px pink;
}

#music{
    font-size: 1.5rem;
    font-family: cursive;
    letter-spacing: 0.3rem;
    text-shadow: 2px 2px 2px pink;
}

#player{
   font-size: 1.5rem;
   font-family: monospace;
   letter-spacing: 0.2rem;
   text-shadow: 2px 2px 2px pink;
   }*/

   /* version 2 */

#main-logo-container{
    width:150px;
    height:80px;
}

#main-logo-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*--------favourites----------*/

#favourites{
    font-family: sans-serif;
    letter-spacing: 0.2rem;
}

/*--------Search Bar-----------*/

.search-bar{
    width:60%;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: #12193e;
    overflow: hidden;
}

.search-bar input{
    background-color: #12193e;
    width:75%;
    height:100%;
    border: 0px solid transparent;
    letter-spacing: 0.2rem;
    padding: 0.2rem;
    color: white;
}

.search-bar button{
    background-color: #12193e;
    color: #ffffff;
    border: 0px solid transparent;
    margin:0px;
}

/*--search bar, notification bell and user image container--*/

#search-bar-notification-bell-user-image-container{
    width:45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#notification-bell-user-image-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:30%;
}

#user-image{
 border-radius: 50%; 
 margin: 10px;
}

#user-image:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*-----Main and aside container-------*/

#main-and-aside-container{
    margin: 0 8%;
}

main, aside{
    background-color: #0c1027;
    display:inline-block;
    height: auto;
    padding-bottom: 80px;
}

/*----main section----*/

main{
    width: 78%;
}
/*----section-----*/
section{
    padding-bottom: 50px;
}
/*------home corousel-------*/

#home-corousel{
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.carousel{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.carousel__track--container{
    height: 100%;
    position: relative;
}

.carousel__track{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.carousel__slide{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.carousel__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0px solid transparent;
    color: white;
    font-size: 15px;
    height: 25px;
    width: 25px;
    cursor: pointer; 
}
.carousel__button:hover{
    border-radius: 50%;
    border: 1px solid white;
}
.carousel__button--left{
    left: 40px;
    z-index: 1;
}

.carousel__button--right{
    right: 40px;
}

.carousel__nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator{
    border: 0px solid white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 12px;
}

.current-slide{
    background: rgba(255, 255, 255, 0.75);
}

/*-----------Latest Release----------*/

#latest_release{
    width: 100%;
}

.section_header{
    letter-spacing: 0.2rem;
    font-size: 20px;
    font-family: monospace;
    margin-bottom: 10px;
}

/*----latest release track container---*/

.latest_release-track-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}

/*----latest release track----*/

.latest_release-track{
    width: 400px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 30px;
    padding: 0px;
}

.logo_detail_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    height: 100%;
    padding-left: 10px;
}

.logo_container{
    height: 80px;
    width: 80px;
    padding-right: 2%;
}

.logo_container img{
    height: 100%;
    width: 100%;
}

.track_detail_container{
    width: 30%;
}

.track_name-container{
    white-space: nowrap;
    overflow: hidden;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 200;
}

.track_release_date-continer{
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    color: #b3b3b3;
    font-weight: 100;
}

.drop_down_icon_and_track_duration-container{
    width: 10%;
    height: 100%;
    color: #93a8b3;
}

.drop_down_menu{
    margin-top: 10px;
}

.menu{
    display: none;
}

.drop-down-menu-list-container{
    position: relative;
    box-sizing: border-box;
    padding-top: 10px;
}

.drop-down-menu-list-content{
    position: absolute;
    background-color: white;
    right: 0px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
}

.drop-down-menu-list-content a{
    display: block;
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 4px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2rem;
    white-space: nowrap;
}

.drop-down-menu-list-container input+label+.drop-down-menu-list-content {
    display: none;
}
.drop-down-menu-list-container input:checked+label+.drop-down-menu-list-content {
    display: block;
}

.track_duration{
    margin-top: 10px;
}


/*-----Popular Artists-------*/

#popular-artist-list-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}

#popular-artist-list-container li{
    height: 140px;
    width: 120px;
    margin: 0px 20px 10px 20px;
    text-align: center;
}

#popular-artist-list-container li img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

#popular-artist-list-container span{
    font-family: monospace;
    letter-spacing: 0.05rem;
}


/*-----Station List-------*/

#station-list-container{
    position: relative;
    width: 100%;
    height: 150px;
}

#music-station-icon-container{
    height: 150px;
    width: 150px;
    margin: 0px;
    padding: 0px; 
    position: absolute;
    top:0px;
    display: inline-block;
}

#music-station-icon-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.station-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    top: 0px;
    left: 150px;
    width: 85%;
    height: 150px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #101642;
}

.station{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 25px 12px;
}

.station img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/*------Occasion List--------*/
.occasion-list{
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.occasion{
    height: 150px;
    width: 300px;
    margin: 10px 12px;
    display: inline-block;
}

.occasion img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*-------Latest English--------*/

.track-list-container{
    width: 100%;
}

.track-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.track{
    display: inline-block;
    height: 175px;
    width: 125px;
    margin: 10px;
}

.track img{
    width: 125px;
    height: 125px;
    object-fit: contain;
}

/*-------Latest Hindi--------*/



/*----aside section-----*/

aside{
    width: 20%;    
    float:right;
}
/*-----Aside section header-----*/
#aside-section-header{
    display: flex;
    margin-bottom: 3rem;
}

#queue-label{
    display: inline-block;
    width: 60%;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-family: monospace;
}

#drop-down-list{
    display: inline-block;
    position: relative;
    width: 38%;
}

#drop-down-list input{
    display: none;
}

#drop-down-list label{
    display: block;
    padding-top: 5px;
    text-align: center;
    height: 100%;
    color: #4ddabb;
}

#drop-down-list label::after{
    font-family: "Font Awesome 5 Free";
    content:'\f0da';
    font-weight: bold;
    font-size: 15px;
    padding: 4px 0px 0px 4px;
    color: white;
}

#drop-down-list input:checked+label::after{
    content:'\f0d7';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 15px;
    padding: 4px 0px 0px 4px; 
    margin-top: 4px; 
    color: white;
}

#drop-down-list-content{
    position: absolute;
    width: 200%;
    background-color: white;
    right: 0px;
    border-radius: 4px;
}

#drop-down-list-content a{
    display: block;
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 4px;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

#drop-down-list input+label+#drop-down-list-content{
    display:none;
}

#drop-down-list input:checked+label+#drop-down-list-content{
    display:block;
}


/*------List of songs in queue-------*/
#list-of-songs-in-queue-container{
    width:100%;
}

#list-of-songs-in-queue-container ul{
    list-style-type: none;
    padding: 0px;
}

.queue-item-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.song-number{
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-image-container{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.music-image-container img{
    height: 100%;
    width: 100%;
}

.music-detail-container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.music-detail-container div{
    white-space: nowrap;
    overflow: hidden;
}

.music-detail-container .song-name{
    font-size: 15px;
}

.music-detail-container .singer-name{
     font-size: 12px;
}
.heart-icon{
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart-icon button{
    background-color: transparent;
    border: 0px solid transparent;
    color: #93a8b3;
}
/*-----Footer Section------*/

footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
}

footer img{
    width: 4rem;
}

/*----Music player detail box------*/
#song-detail-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding:0px;
}

#music-logo-container{
    width: 60px;
    height: 60px;
}

#music-logo-container img{
    width: 100%;
    height: 100%;
}

#detail-container{
    width: 35%;
    overflow: hidden;
    margin-right: 6px;
}

#detail-container div{
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
}

.song-name{
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 200;
}

.singer-name{
    color: #b3b3b3;
    font-weight: 100;
}

#like-dislike-icon-container{
    height: 50%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#like-dislike-icon-container button{
    color: #b3b3b3;
    background-color: transparent;
    border: 0px solid #000000;
}

/*--Audio Player Container--*/

#audio-player-container{
    width: 50%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*---Audio control buttons-----*/

#music-player-control-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    overflow: hidden;
    width: 60%;
}

#music-player-control-container button{
    display: inline-block;
    background-color: transparent;
    color: #b3b3b3;
    border: 0px solid #000000;
    font-size: 1rem;
    margin: 10px 10px 0px 10px;
}
#slider-container span{
    letter-spacing: 0.1rem;
    color: #b3b3b3;
}
/*---Slider----*/

.slider-container{
    height: 25%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    height: 8px;
    background-image: linear-gradient(90deg, #3ae98f 50%, #404040 50%);
    border-radius: 4px;
    -webkit-appearance:none;
}

.slider:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.slider::-moz-range-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.silder::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

.slider::-moz-range-thumb:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

.silder::-webkit-slider-runnable-track:hover{
    box-shadow: 1px 1px 10px 2px lightgrey;
}

/*-------File Manager and Playlist-------*/

#playlist-file-manager-icons-container button{
    background-color: transparent;
    color: #b3b3b3;
    border: 0px solid transparent;
}

#playlist-file-manager-icons-container{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

/*----Common css rules----*/

.width-eighty-percent{
    width: 80%;
}

.width-fifty-percent{
    width: 50%;
}

/*----Removing outline------*/

input, button{
    outline: none;
}

/*-----common font size classes used------*/ 
.font-size-thirty{
    font-size: 30px;
    margin:0px 10px;
}

/*----Common cursor used----*/
.cursor-pointer{
    cursor: pointer;
}